// Utility classes. TBD consider removing these, and creating components using gin variables instead.

// Display.
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}

// Width.
.w-50 {
  width: 50%;
  flex: 0 0 50%;
}

// Spacing.
$spacers: (
  0: 0,
  1: 1rem,
  2: 2rem,
);

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $length in $spacers {
    .#{$abbrev}-#{$size} { #{$prop}: $length !important; }
    .#{$abbrev}t-#{$size},
    .#{$abbrev}y-#{$size} {
      #{$prop}-top: $length !important;
    }
    .#{$abbrev}r-#{$size},
    .#{$abbrev}x-#{$size} {
      #{$prop}-right: $length !important;
    }
    .#{$abbrev}b-#{$size},
    .#{$abbrev}y-#{$size} {
      #{$prop}-bottom: $length !important;
    }
    .#{$abbrev}l-#{$size},
    .#{$abbrev}x-#{$size} {
      #{$prop}-left: $length !important;
    }
  }
}

// Buttons and links.
.button:hover {
  a {
    color: var(--colorGinButtonText);
  }
}

// Tables.
td {
  > .button {
    margin: 0;
  }
}

// Forms.
.views-exposed-form {
  form {
    display: flex;
  }

  .form-datetime-wrapper {
    margin-top: 0.75rem;
    .form-item--no-label {
      margin-top: 0.125em;
    }
  }
}

// A Gin change added a 240px bottom margin to views tables that makes some forms unusable because you have to scroll
// down to find the action buttons. https://www.drupal.org/project/gin/issues/3278745. Remove the padding from
// entity browser forms.
.entity-browser-form {
  .gin-table-scroll-wrapper {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}

// Field displays.
.pill-wrapper .details-wrapper {
  display: flex;

  .pill:not(:last-child) {
    margin-right: 5px;
  }
}
.pill {
  font-size: var(--gin-font-size-s);
  font-weight: var(--gin-font-weight-semibold);
  padding: calc(var(--gin-spacing-m) - 2px) calc(var(--gin-spacing-l) - 2px);
  border: 2px solid var(--gin-color-primary) !important;
  border-radius: var(--gin-border-m);
  box-shadow: 0 1px 2px var(--gin-color-primary-light);
  display: inline-block;

  @include mq(wide) {
    font-size: var(--gin-font-size);
  }

  &.inline {
    .field__items {
      display: flex;
      .field__item:not(:last-child) {
        margin-right: 5px;
      }
    }

  }
}
